DATABASE_URL=
COGNITO_USER_POOL_ID=
COGNITO_CLIENT_ID=
COGNITO_USER_EMAIL=
COGNITO_USER_PASSWORD=
COGNITO_REGION=
S3_FILE_BUCKET=
MAIN_REGION=
RECAPTCHA_SECRET=

#should be unique for each nexxus instance and can be created following this documentation https://docs.mollie.com/reference/v2/customers-api/create-customer#
MOLLIE_CUSTOMER_ID=
MOLLIE_API_KEY=
MOLLIE_WEBHOOK_API_KEY="WDFaG3b9P92wKdMqdOdjL0oegJE9uI7g"
MOLLIE_WEBHOOK="[DOMAIN]/api/payments/mollie-webhook?apiKey=WDFaG3b9P92wKdMqdOdjL0oegJE9uI7g"
COMPANY_NAME=
COMPANY_ADDRESS=
COMPANY_EMAIL=
RABBITMQ_URI="amqp://guest:guest@localhost:5672"
RABBITMQ_EXCHANGE=
RABBITMQ_PURCHASE_ORDER_STATUS_UPDATED_QUEUE=
MAGENTO_PAYMENT_PAID=
MAGENTO_API_KEY=
MAGENTO_BASE_URL=
SECURITY_SYSTEM="JWT" #"COGNITO"
JWT_SECRET="djL0oegwKdMqdO"
JWT_EXPIRES_IN="60s"
EXACT_BASE_URL=""
EXACT_CLIENT_ID=""
EXACT_CLIENT_SECRET=""
EXACT_DIVISION=""
