<!DOCTYPE html>
<html lang="nl">
  <head>
    <title>Nexxus order form test</title>
  </head>
  <body>

	<div id="orderform" style="margin: 50px; width: 800px"></div>
  
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="/nsk/js/jquery.nexxus-order.js"></script>
    <!-- script src="https://nexxus.eco/nsk/js/jquery.nexxus-order.js"></script -->
	<script>
	
	    $("#orderform").nexxusOrder({
            recaptchaKey: '6LdzW4QUAAAAANRAfkgl8Cz4-QNUcNEJomOj5wgX',
            // confirmPage: 'http://www.nu.nl',
            products: [
              {
                id: 'werkplekken',
                title: 'Werkplekken',
                desc: 'U mag minimaal 2 en maximaal 50 werkplekken aanvragen.',
                name: 'Werkplekken aantallen',
                remark: null,
                min: 2,
                max: 50
              },
              {
                id: 'laptop',
                title: 'Laptop',
                desc: 'Zorg er voor dat het laptop aanvraag minimaal 2 is en maximaal 50.',
                name: 'Laptop aantallen',
                remark: null,
                min: 2,
                max: 50
              },
            ]
        });
	
	</script>
  </body>
</html>
