<!DOCTYPE html>
<html lang="nl">
  <head>
    <title>Nexxus order form test</title>
  </head>
  <body>

	<div id="orderform" style="margin: 50px; width: 800px"></div>
  
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="/nsk/js/jquery.nexxus-order.js"></script>
    <!-- script src="https://nexxus.eco/nsk/js/jquery.nexxus-order.js"></script -->
	<script>
	
	    $("#orderform").nexxusOrder({
            recaptchaKey: '6LdzW4QUAAAAANRAfkgl8Cz4-QNUcNEJomOj5wgX',
            // confirmPage: 'http://www.nu.nl',
            products: [
              {
                id: 'desktop',
                title: 'Werkplekken',
                desc: 'U mag in totaal maximaal 50 werkplekken aanvragen.',
                name: 'Desktop + monitor',
                remark: null
              },
              {
                id: 'laptop',
                name: 'Laptop',
                remark: null
              },
              {
                id: 'phone',
                title: 'Smartphones',
                desc: 'U mag in totaal maximaal 20 smartphones aanvragen. Indien uw aanvraag wordt gehonoreerd ontvangt u van ons een smartphone met een minimale Android versie 7.0, 16Gb opslagcapaciteit en 5” schermformaat.',
                name: 'Smartphones',
                remark: null
              },
            ]
        });
	
	</script>
  </body>
</html>
